<div class="row">
    <div class="col-md-12">
        <div class="page-heading"> <span>Users</span>
        </div>
    </div>
    <div class="col-md-12">
        <div class="table-responsive" ng-init="getUsers()">
            <table ng-table="tableParams" show-filter="isFiltersVisible" class="table table-striped table-bordered list-table">
                    <tr ng-repeat="user in $data">
                        <td data-title="'Sr No.'">{{$index+1}}</td>
                        <td data-title="'Name'" sortable="'name'">{{user.name}}</td>
                        <td data-title="'Email'" sortable="'email'">{{user.email}}</td>
                        <td data-title="'Location'" sortable="'location'">{{user.location?user.location:'-'}}</td>
                        <td data-title="'Warned'" sortable="'warned'">{{user.warnedCount}}</td>

                        <td data-title="'Action'">
                            <a href="" class="btn btn-default" ng-show="user.status=='Active'" 
                            ng-click="changeStatus(user, 'Banned', 'Bann')">
                                <i class="fa fa-ban fa-inverse" style="color:red"></i> Bann
                            </a>
                            <a href="" class="btn btn-default" ng-show="user.status=='Active'" 
                            ng-click="WarnedUser(user)">
                                <i class="fa fa-warning" style="color:orange"></i> Warned
                            </a>
                            <a href="" class="btn btn-default" ng-show="user.status=='Banned'" 
                            ng-click="changeStatus(user,'Active', 'Activate')">
                                <i class="fa fa-check" style="color:#5cb85c;"></i> Activate
                            </a>
                        </td>
                    </tr>
            </table>
        </div>
    </div>
</div>