<div class="row">
    <div class="col-md-12">
        <div class="page-heading"> <span>Admin Users</span>
            <div class="page-actions pull-right">
                <a class="btn btn-success" ng-click="addUser()">Add New</a>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="table-responsive">
            <table ng-table="tableParams" show-filter="isFiltersVisible" class="table table-striped table-bordered list-table" ng-init="getAllCities()">
                <tr ng-repeat="user in $data ">
                    <td data-title="'Sr No.'">{{$index+1}}</td>
                    <td data-title="'Name'" sortable="'firstName'" filter="{ 'firstName': 'text' }">{{user.firstName+' '+user.lastName}}</td>
                    <td data-title="'Email'" sortable="'email'" filter="{ 'email': 'text' }">{{user.email}}</td>
                    <td data-title="'Status'" sortable="'status'" filter="{ 'status': 'text' }">{{user.status}}</td>
                    <td data-title="'Actions'"> <a class="btn btn-warning btn-xs" ng-click="editUser(user)">Edit</a>
                        <a class="btn btn-danger btn-xs" ng-click="deleteUser(user)">Delete</a>
                        <a class="btn btn-success btn-xs" ng-click="setPassword(user)">Set Password</a></td>
                </tr>
            </table>
           
        </div>
    </div>
</div>