 <form name="frmAddUser" role="form" ng-submit="addAdmin(frmAddUser)">
<div class="modal-header">
    <h3 class="modal-title">{{isEdit?'Edit User':'Add User'}}</h3>
</div>
<div class="modal-body">
        <div class="form-group">
            <label for="">First Name <span class="symbol required "></span></label>
            <input type="text" name="firstName" class="form-control" ng-model="userModel.firstName" required />
        </div>
        <div class="form-group">
            <label for="">Last Name <span class="symbol required "></span></label>
            <input type="text" name="lastName" class="form-control" ng-model="userModel.lastName" required />
        </div>
        <div class="form-group">
            <label for="">Email <span class="symbol required "></span></label>
            <input type="email" name="email" class="form-control" ng-model="userModel.email" required />
        </div>
        <div class="form-group" ng-if="!isEdit">
            <label for=""> Password <span class="symbol required "></span></label>
            <input type="password" name="password" class="form-control" ng-model="userModel.password" required />
        </div>
        <div class="form-group" ng-if="isEdit">
            <label>Status <span class="symbol required "></span></label>
            <select name="status" class="form-control " ng-model="userModel.status" required>
                <option value="">Select Status</option>
                <option value="Active">Active</option>
                <option value="Banned">Banned</option>
            </select>
        </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="submit" ng-disabled="processing" >{{processing?'processing':'Save'}}</button>
    <button class="btn btn-default btn-o" ng-click="cancel()">Cancel</button>
</div>
    </form>