<form name="frmChangePassword" role="form" ng-submit="setPassword(frmChangePassword)">
<div class="modal-header">
    <h3 class="modal-title">Change Password</h3>
</div>
<div class="modal-body">
         <div class="form-group">
                                <label>Old Password:</label>
                                <input type="password" name="oldPassword" class="form-control required" 
                                ng-model="oldPassword" required="">
                            </div>
                            <div class="form-group">
                                <label>New Password:</label>
                                <input type="password" name="newPassword" class="form-control" ng-model="newPassword" required="">
                            </div>
                            <div class="form-group">
                                <label>Confirm Password:</label>
                                <input type="password" name="confirmPassword" class="form-control" ng-model="confirmPassword" required="">
                            </div>

                            
   
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="submit" ng-disabled="processing" >Save</button>
    <button class="btn btn-default btn-o" ng-click="cancel()" type="button">Cancel</button>
</div>
 </form>

