<div class="row">
    <div class="col-md-12">
        <div class="page-heading"> <span>Experience</span>
        </div>
    </div>
   <!-- <div class="col-md-12">
    <div class="col-md-6"></div>
    <p class="pull-right">
        <input type="checkbox" id="ShowFlagged" ng-change="getExperiences()" name="isShowFlagged" ng-model="isShowFlagged">&nbsp;
        <span> Show Flagged</span></p>
</div> -->
    <div class="col-md-12" ng-init="getExperiences()">
        <table ng-table="tableParams" show-filter="isFiltersVisible" class="table table-striped table-bordered list-table">
            <tr ng-repeat="experience in $data">
                <td data-title="'Sr No.'">{{$index+1}}</td>
                <td data-title="'Title'" sortable="'posts[0].title'"> <a ui-sref="app.experienceDetails({experienceId:experience._id})">{{experience.posts[0].title}}</a></td>
                <td data-title="'Posted by'" sortable="'userId.name'">{{experience.userId.name}}</td>
                <td data-title="'Posted on'" sortable="'posts[0].postedOn'">{{experience.posts[0].postedOn | date:'dd-MMM-yyyy hh:mm:a'}}</td>
                <td data-title="'Status'" sortable="'submitted'">{{experience.submitted==true?"Complete":"Incomplete"}}</td>
                <td data-title="'Action'">
                    <a class="btn btn-danger btn-xs" ng-click="deleteExperience(experience._id)">Delete</a>
                </td>
            </tr>
        </table>
    </div>
</div>