<div class="row">
    <div class="col-md-12">
        <div class="page-heading"> <span>Group Type</span>
            <div class="page-actions pull-right">
                <a class="btn btn-success" ng-click="addGroupType()">Add New</a>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="table-responsive">
            <table ng-table="tableParams" show-filter="isFiltersVisible" class="table table-striped table-bordered list-table" ng-init="getGroupType()">
                <tr ng-repeat="group in $data ">
                    <td data-title="'Sr No.'">{{$index+1}}</td>
                    <td data-title="'Name'" sortable="'name'" filter="{ 'name': 'text' }">{{group.name}}</td>
                    <td data-title="'Status'" sortable="'status'" filter="{ 'status': 'text' }">{{group.status}}</td>
                    <td data-title="'Actions'" ng-init="isActive(group)">
                       
                        <a ng-disabled="group.disable" class="btn btn-warning btn-xs" ng-click="group.disable || editgroup(group)">Edit</a>

                        <a ng-disabled="group.disable" class="btn btn-danger btn-xs" ng-click="group.disable || changeGroupStatus(group)">Change Status</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>